<div *ngIf="!forgotPassword">
  <h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
  <div mat-dialog-content>
    <form name="authForm" #authForm="ngForm" class="main-content">
      <div *ngIf="data.dialogType === dialogType.SignUp">
        <div *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)" class="input-error-message">
          <div *ngIf="inEmail.errors.required">
            Email is required.
          </div>
          <div *ngIf="inEmail.errors.minlength">
            Email must be at least 4 characters long.
          </div>
          <div *ngIf="inEmail.errors.emailPattern">
            Invalid email pattern.
          </div>
        </div>
      </div>
      <mat-form-field>
        <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" required
          minlength="4" appEmailValidator>
      </mat-form-field>

      <div *ngIf="data.dialogType === dialogType.SignUp">
        <div *ngIf="upNickname.invalid && (upNickname.dirty || upNickname.touched)" class="input-error-message">
          <div *ngIf="upNickname.errors.required">
            Username is required.
          </div>
          <div *ngIf="upNickname.errors.minlength">
            Username must be at least 3 characters long.
          </div>
          <div *ngIf="upNickname.errors.usernamePattern">
            Username can not contain these symbols: {{ '! @ # $ % ^ & * ( ) { } [ ] \ / |' }}
          </div>
        </div>
        <mat-form-field>
          <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username"
            required minlength="3" appUsernameValidator>
        </mat-form-field>
      </div>


      <mat-form-field>
        <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
          [type]="hidePass ? 'password' : 'text'" placeholder="Password">
        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

    </form>
    <button class="btn-text-only" (click)="forgotPassword = true">Forgot password?</button>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="close()">Back</button>
    <button mat-raised-button color="primary" (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()"
      [disabled]="!authForm.valid">{{title}}</button>
  </div>
</div>
<div *ngIf="forgotPassword">
  <form name="authForm" #resetForm="ngForm" class="main-content">
    <p>Write an email of your account to receive a new password.</p>
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" required minlength="4"
        appEmailValidator>
    </mat-form-field>
  </form>
  <div class="actions">
    <button mat-raised-button (click)="forgotPassword = false">Back</button>
    <button mat-raised-button color="primary" (click)="sendReset()" [disabled]="!resetForm.valid">Send email</button>
  </div>
</div>