.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default

.input-error-message
    color: red
    font-size: 0.8em

.btn-text-only
    background: none
    border: none
    margin: 0
    padding: 0
    cursor: pointer
    color: #5199FF