<mat-card>
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="currentUser" class="d-flex justify-content-end width-100">
      <mat-card-actions *ngIf="!isUpdating && currentUser.id == comment.author.id" class="actions-buttons mr-5px"
        align="end">
        <button mat-icon-button color="primary" (click)="onEditIconClick()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="!isUpdating && (currentUser.id == comment.author.id || currentUser.id == post.author.id)"
        class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="deleteComment()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="isUpdating" class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="saveCommentUpdates()">
          <mat-icon>done</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!isUpdating">
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-content *ngIf="isUpdating">
    <mat-form-field class="width-100">
      <textarea [(ngModel)]="comment.body" matInput></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment(true)">
      <mat-icon matBadge="{{likeService.getLikes(comment.reactions).length}}" matBadgeColor="accent"
        matBadgeSize="small" [matBadgeHidden]="likeService.getLikes(comment.reactions).length === 0" aria-label="Like">
        thumb_up</mat-icon>
    </button>
    <button *ngIf="likeService.getLikes(comment.reactions).length !== 0" mat-icon-button color="primary"
      (click)="likeService.openLikeDialog(comment.reactions)">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment(false)" style="margin-right: 0;">
      <mat-icon matBadge="{{likeService.getDislikes(comment.reactions).length}}" matBadgeColor="accent"
        matBadgeSize="small" [matBadgeHidden]="likeService.getDislikes(comment.reactions).length === 0"
        aria-label="Like">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>