<div class="share-dialog">
    <div>
        <h2 class="text-center">Share post by:</h2>
    </div>

    <button class="share-button" mat-raised-button (click)="isEmail = !isEmail">
        <div class="share-button-content">
            <div class="share-button-icon">
                <mat-icon class="mail">
                    mail_outline
                </mat-icon>
            </div>
            <div class="share-button-text">
                <span class="mg-pd-0 fs-1-2em">Email</span>
            </div>
        </div>
    </button>

    <button id="linkButton" class="share-button" mat-raised-button (click)="linkToClipboard()">
        <div class="share-button-content">
            <div class="share-button-icon">
                <mat-icon class="link">
                    link_icon
                </mat-icon>
            </div>
            <div class="share-button-text">
                <span class="mg-pd-0 fs-1-2em">Link</span>
            </div>
        </div>
    </button>


    <div *ngIf="isEmail">
        <form name="sendEmailForm" #emailForm="ngForm" class="main-content">
            <p class="mg-pd-0">
                Write user's name to share a post with:
            </p>
            <mat-form-field>
                <input name="shareUsername" [(ngModel)]="receiverName" matInput placeholder="Username" required>
            </mat-form-field>
        </form>
        <div class="actions">
            <button mat-raised-button color="primary" (click)="sharePostEmail()" [disabled]="!emailForm.valid">
                Send email
            </button>
        </div>
    </div>
</div>