.share-dialog
    display: flex
    flex-direction: column
    justify-content: center

.text-center
    text-align: center

.share-button
    margin: 0px 0px 2px 0px
    padding: 0

.mg-pd-0
    margin: 0
    padding: 0

.flex-row-center
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

mat-icon.mail
    vertical-align: middle
    font-size: 1.45em

mat-icon.link
    vertical-align: middle
    font-size: 1.7em

.fs-1-2em
    font-size: 1.2em

.main-content
    display: flex
    justify-content: center
    flex-direction: column
    padding-top: 10px

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

div.share-button-content
    display: flex
    flex-direction: row

div.share-button-icon
    width: 45%
    text-align: end

div.share-button-text
    width: 50%
    text-align: start


