<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div class="avatar-container" (click)="file.click()">
    <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
    <img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
    <div class="img-text">
      Upload
    </div>

  </div>
  <form name="userForm" #userForm="ngForm" class="main-content">

    <div *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)" class="input-error-message">
      <div *ngIf="inEmail.errors.required">
        Email is required.
      </div>
      <div *ngIf="inEmail.errors.minlength">
        Email must be at least 4 characters long.
      </div>
      <div *ngIf="inEmail.errors.emailPattern">
        Invalid email pattern.
      </div>
    </div>
    <mat-form-field>
      <input name="email" [(ngModel)]="user.email" #inEmail="ngModel" matInput placeholder="Email" required
        minlength="4" appEmailValidator>
    </mat-form-field>

    <div *ngIf="upNickname.invalid && (upNickname.dirty || upNickname.touched)" class="input-error-message">
      <div *ngIf="upNickname.errors.required">
        Username is required.
      </div>
      <div *ngIf="upNickname.errors.minlength">
        Username must be at least 3 characters long.
      </div>
      <div *ngIf="upNickname.errors.usernamePattern">
        Username can not contain these symbols: {{ '! @ # $ % ^ & * ( ) { } [ ] \ / |' }} </div>
    </div>
    <mat-form-field>
      <input name="username" [(ngModel)]="user.userName" #upNickname="ngModel" matInput placeholder="Username" required
        minlength="3" appUsernameValidator>
    </mat-form-field>
    <mat-form-field *ngIf="isPwdChanging">
      <input name="password" [(ngModel)]="password" matInput [type]="hidePass ? 'password' : 'text'"
        placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button *ngIf="!isPwdChanging" (click)="isPwdChanging = true">Change password</button>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="saveNewInfo()" [disabled]="!userForm.valid">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>