<h2 mat-dialog-title class="title">{{data.users.length}} people liked this so far:</h2>
<hr class="mr-pd-0">
<div *ngFor="let user of data.users">
    <mat-card-header class="align-items-center mg-pd-0">
        <img mat-card-avatar src="{{user.avatar}}" alt="Avatar">
        <p>{{user.userName}}</p>
    </mat-card-header>
    <hr class="mg-pd-0">
</div>