<mat-card [ngClass]="{'post-with-comments': showComments}">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="currentUser && post.author.id == currentUser.id" class="d-flex justify-content-end width-100">
      <mat-card-actions *ngIf="!isUpdating" class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="onEditIconClick()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="!isUpdating" class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="deletePost()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="isUpdating" class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="savePostUpdates()">
          <mat-icon>done</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage && !isUpdating" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content *ngIf="!isUpdating">
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-content *ngIf="isUpdating">
    <mat-form-field class="width-100">
      <textarea [(ngModel)]="post.body" matInput></textarea>
    </mat-form-field>
    <div class="image-container">
      <img mat-card-image class="post-image" *ngIf="imageService.imageUrl" mat-card-image
        src="{{imageService.imageUrl}}" alt="Photo">
      <mat-icon aria-label="Send" (click)="this.imageService.removeImage()">close</mat-icon>
    </div>
    <mat-card-actions>
      <input hidden #file accept="image/*" type="file" (change)="this.imageService.loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)" style="margin-right: 0;">
      <mat-icon matBadge="{{likeService.getLikes(post.reactions).length}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likeService.getLikes(post.reactions).length === 0" aria-label="Like">
        favorite</mat-icon>
    </button>
    <button *ngIf="likeService.getLikes(post.reactions).length !== 0" mat-icon-button color="primary"
      (click)="likeService.openLikeDialog(post.reactions)">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{likeService.getDislikes(post.reactions).length}}" matBadgeColor="accent"
        matBadgeSize="medium" [matBadgeHidden]="likeService.getDislikes(post.reactions).length === 0"
        aria-label="Dislike">
        thumb_down
      </mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openShareDialog()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser" [post]="post"
      (deleteCommentRequest)="deleteComment($event)">
    </app-comment>
  </div>
</mat-card>